<!doctype html>
<html>
<head>
    <title>Roulette Game</title>
    <link rel="stylesheet" href="otherpage.css">
</head>
<body>

        <header>
    <div class="banner">
        <img src="banner.png">
    </div>
</header>

<div class="container">

  

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email === "admin") { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

              
            </div>
        </div>
        <div class="col-sm-6">
          <h3>Bets</h3>
          <ul class="messages">
            <li class="message">
              <p>Bank:<%= bank %></p>
              <p>User Won: $<%= totalWin %></p>
              <p>User Lost: $<%= totalLosses %></p>
            </li>
          </ul>

    
          <% } %>
</div>

<script src="main.js"></script>

</body>
</html>
